body{
    background: rgba(37, 38, 43, 0.15);
    margin: 20px 40px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin-bottom: 10px;
}
h2{
    text-align: center;
    font-size: 15px;
    margin-bottom:50px;
}

input {
    width : 50px;
}
#frame-model{
    width: 110px;
}

.inputs{
    margin: 10px 20px;
    text-align:center;
}
button {
    margin: 10px 15px;
    width: 150px;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    font-weight: bolder;
    border: solid 2px black;
   
}
#btns{
    display:flex;
    justify-content: center;
}

#clear-btns{
   display:flex;
    justify-content: center; 
}
#calc-btn{
    background: rgb(0, 110, 0);
    color: whitesmoke;
}
#save-btn{
    background:rgb(52, 52, 166);
    color:whitesmoke;
}
#clear-btn{
    background: goldenrod;
    color: whitesmoke;
    display:flex;
    justify-content: center;
    /* margin: 0 auto; */
}
#clear-all-btn{
    background:darkred;
    color:whitesmoke;
}
#results{
    text-align:center;
    font-weight: 900;
}
#comparison{
    margin-bottom:50px;
    border: solid 1px black;
    border-radius: 10px;
    padding: 5px 10px;
}
.result-list{
    margin: 10px 0px;
}
#bike-name{
    font-weight:800;
}